.aside-container {
    position: fixed;
    top: 20px;
    background-color: #3696D3;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 40px);
    padding: 10px;
    border-radius: 30px;
    z-index: 10;
}

.aside-container .menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.aside-container .menu-wrapper .main-logo {
    padding-bottom: 20px;
}

.aside-container .menu-wrapper .main-logo-mob {
    display: none;
}

.aside-container .menu-wrapper .menu-item {
    border-radius: 35px;
    transition: ease-in-out .3s all;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aside-container .menu-wrapper .menu-item .menu-icon {
    height: 25px;
}

.aside-container .menu-wrapper .menu-item:hover {
    background-color: #5CADE0;
}

.aside-container button {
    border-radius: 35px;
    padding: 10px 0;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s all;
}

.aside-container button img {
    height: 25px;
}

.aside-container button:hover {
    background-color: #5CADE0;
}

.aside-container .menu-wrapper .menu-item .notification-count {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #f45b5b;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 999px;
    min-width: 18px;
    text-align: center;
    line-height: 1.2;
    border: 1px solid;
}

@media (max-width: 769px) {
    .aside-container {
        flex-direction: row;
        height: fit-content;
        justify-self: center;
    }

    .aside-container .menu-wrapper {
        flex-direction: row;
    }

    .aside-container .menu-wrapper .main-logo {
        display: none;
    }

    .aside-container .menu-wrapper .main-logo-mob {
        display: block;
        height: 40px;
    }
}