.fast-links-container {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F7;
    padding: 10px 20px;
    border-radius: 14px;
    gap: 10px
}

.fast-links-container b {
    font-family: 'SF UI Display Medium';
    font-size: 18px;
}

.fast-links-container .links-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fast-links-container .links-wrapper a {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3696D3;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'SF UI Display Light';
    font-size: 16px;
    color: #ffffff;
    transition: ease-in-out .3s all;
}


.fast-links-container .links-wrapper a img {
    height: 20px;
}

.fast-links-container .links-wrapper a:hover {
    background-color: #5CADE0;
}