.feed-container {
    position: sticky;
    top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #F5F5F7;
    border-radius: 10px;
    height: fit-content;
    height: calc(100vh - 89px);
    overflow-x: hidden;
    scrollbar-width: thin;
}

.feed-container .feed-header {
    width: inherit;
}

.feed-container .feed-header img {
    width: -webkit-fill-available;
}

.feed-container .feed-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.feed-container .feed-content .title {
    font-family: 'SF UI Display Medium';
    font-size: 25px;
    text-align: center;
    color: #3897D3;
}

.feed-container .feed-content .feed-item {
    display: flex;
    gap: 10px;
}

.feed-container .feed-content .feed-item .text-wrapper {    
    font-family: 'SF UI Display Light';
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.feed-container .feed-content .feed-item .text-wrapper b {
    font-family: 'SF UI Display Medium';
    color: #3897D3;
}

.feed-container .feed-content .feed-item .text-wrapper a {
    color: #000000;
}

@media (max-width: 1250px) {
    .feed-container {
        display: none;
    }
}