body, * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.pax-protected {
  /*filter: blur(16px) brightness(0.7);
  transition: 0.1s;*/
}

.hidden {
    display: none !important;
}

@media print{
    body.pax-protected {
        display: none;
    }
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-heavy-586470160b9e5.woff') format('woff'); 
}

@font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
    font-family: 'Kit Black';
    src: url('../fonts/kit-rounded/KitRounded_Black.otf');
}

@font-face {
    font-family: 'Kit Bold';
    src: url('../fonts/kit-rounded/KitRounded_ExtraBold.otf');
}

@font-face {
    font-family: 'Kit ExtraBold';
    src: url('../fonts/kit-rounded/KitRounded_ExtraBold.otf');
}

.warning-container {
    z-index: 1000;
    position: fixed ;
    bottom: -120px;
    right: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    transition: ease-in-out .3s all;
}

.warning-container.open {
    bottom: 20px;
}

.warning-container.error {
    border: 1px solid #FFE0E1;
    background: #FFF0F0;
}

.warning-container.success {
    border: 1px solid #BFFCD9;
    background: #ECFDF3;
}

.warning-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    left: -16px;
    top: -16px;
}

.warning-container.error button {
    border: 1px solid #FFE0E1;
    background: #FFF0F0;
}

.warning-container.success button {
    border: 1px solid #BFFCD9;
    background: #ECFDF3;
}

.warning-container span {
    text-align: center;
    font-family: "SF UI Display Semibold";
    font-size: 14px;
}

.warning-container.error span {
    color: #E60000;
}

.warning-container.error button path {
    fill: #E60000;
}

.warning-container.success span {
    color: #008A2E;
}

.warning-container.success button path {
    fill: #008A2E;
}

.anti-print {
  filter: blur(25px) brightness(0.6);
}