.admin-menubar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #3696D3;
    margin: 20px;
    border-radius: 14px;
}

.admin-menubar .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin-menubar .logo-wrapper .pax-logo {
    height: 50px;
}

.admin-menubar .logo-wrapper b {
  font-family: 'SF UI Display Medium';
  color: #ffffff;
  font-size: 20px;
}

.admin-menubar .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-menubar .menu-wrapper .menu-link {   
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background: #5CADE0;
    border: 1px solid #5CADE0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'SF UI Display Light';
    color: #ffffff;
    transition: ease-in-out .3s all;
}

.admin-menubar .menu-wrapper .menu-link:hover, .admin-menubar .menu-wrapper .menu-link.selected {
    background-color: #3696D3;
    border: 1px solid #ffffff;
}

.admin-menubar .menu-wrapper .menu-link .notification-count {
    position: absolute;
    background: #f45b5b;
    margin-top: -15px;
    margin-left: 10px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 999px;
    min-width: 18px;
    text-align: center;
    line-height: 1.2;
    border: 1px solid;
}

.admin-menubar .menu-wrapper button {
    padding: 10px;
    border-radius: 10px;
    background: #5CADE0;
    border: 1px solid #5CADE0;
    display: flex;
    align-items: center;
    font-family: 'SF UI Display Light';
    cursor: pointer;
    transition: ease-in-out .3s all;
}

.admin-menubar .menu-wrapper button:hover {
    background-color: #3696D3;
    border: 1px solid #ffffff;
}