
.page-selector {
  position: relative;
  display: inline-block;
}

.page-selector-btn {
  background: #EC6C1D;
  backdrop-filter: blur(8px);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  color: white;
  font-family: 'SF UI Display Medium';
  cursor: pointer;
  transition: .25s;
}

.page-selector-btn:hover {
  transform: translateY(-1px);
}

.page-selector-popup {
  position: absolute;
  top: 120%;
  left: 0;
  width: 230px;
  background: rgba(255,255,255,.98);
  border-radius: 14px;
  box-shadow: 0 18px 40px rgba(0,0,0,.2);
  padding: 8px;
  display: none;
  flex-direction: column;
  animation: selectorIn .18s ease;
  overflow: hidden;
}

.page-selector-popup.active {
  display: flex;
}

.page-selector-popup .popup-option {
    font-family: 'SF UI Display Medium';
}

.page-selector-popup .popup-option span {
    font-family: 'SF UI Display Light';
}

@keyframes selectorIn {
  from { opacity: 0; transform: translateY(-6px) scale(.96); }
  to   { opacity: 1; transform: translateY(0) scale(1); }
}

.popup-option {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.popup-option:hover {
  background: #f3f0ff;
}

.popup-option span {
  font-size: 12px;
  color: #6b6b6b;
}
